*{
    /* background-color: #1c0e20; */
}

.titleClass{
    background-color: rgb(255, 255, 255);
    padding: 11px;
    border-radius: 30px;
    box-shadow: 0 0px 20px 0px rgb(0 0 0 / 73%);
}
