<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Emotion Track</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='logo.png') }}" />
    <link rel="stylesheet"  href="{{ url_for('static', filename='style.css') }}" />

</head>


<body>
    <h1 class="titleClass">Real-time Face-Emotion, Gender & Age Detection</h1>


    <video id="video" width="640" height="480" autoplay style="display:none;" ></video>
    <canvas id="canvas" width="640" height="480" style="display:none;"></canvas>

    <div class="predictionCamara">

        <div id="predictions"></div>
        <img id="processedImage" src="" alt="Processed Image" style="display:none;">
    </div>


    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>
