<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emotion, Gender, and Age Detection</title>
    <link rel="shortcut icon" href="./static/logo.png" type="">
    <link rel="stylesheet" href="static/style.css">

</head>



<body>
    <h1 class="titleClass">Real-time Face-Emotion, Gender and Age Detection</h1>
    
    <div class="video-container">
        <video id="webcam" width="640" height="480" autoplay muted></video>
        <div id="labels"></div>
    </div>

    <script src="static/script.js"></script>

</body>
</html>